body {margin:0;}

#secondRow
{
    width: 100%!important;

    /*-webkit-transition:0.5s linear all;*/
    /*-moz-transition:0.5s linear all;*/
    /*-o-transition:0.5s linear all;*/
    /*transition:0.5s linear all;*/
    /*opacity:1;*/
    /*background-color: #EFF2F2;*/
    /*background-color: #C3C3C3;*/

    /*background: #8e9eab;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #eef2f3, #8e9eab); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

    /*background-color:#F4F4F4;*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F4F4, endColorstr=#C0C0C4);*/
    /*background-image:-moz-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-webkit-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-ms-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-o-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#F4F4F4), color-stop(100%,#C0C0C4));*/
}
#secondRow2
{
    width: 100%!important;

    /*-webkit-transition:0.5s linear all;*/
    /*-moz-transition:0.5s linear all;*/
    /*-o-transition:0.5s linear all;*/
    /*transition:0.5s linear all;*/
    /*opacity:1;*/
    /*background: #8e9eab;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to top, #eef2f3, #8e9eab); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background: #fceabb;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to top, #f8b500, #fceabb);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to top, #f8b500, #fceabb); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

}



#secondRow3
{   width: 100%!important;

    /*-webkit-transition:0.5s linear all;*/
    /*-moz-transition:0.5s linear all;*/
    /*-o-transition:0.5s linear all;*/
    /*transition:0.5s linear all;*/
    /*opacity:1;*/
    /*background: #8e9eab;  !* fallback for old browsers *!*/
    /*background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(to bottom, #eef2f3, #8e9eab); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    /*background-color:#F4F4F4;*/
    /*filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F4F4F4, endColorstr=#C0C0C4);*/
    /*background-image:-moz-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-webkit-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-ms-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-o-linear-gradient(top, #F4F4F4 0%, #C0C0C4 100%);*/
    /*background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#F4F4F4), color-stop(100%,#C0C0C4));*/
}

.container-fluid
{

    height: 100%!important;
}


.slika,.slika2,.slika3
{
    padding-left: 0%!important;
    padding-right: 1%!important;
    padding-bottom: 0%!important;
    margin-top: 5%;
}
.hehe,.hehe2,.hehe3
{
    padding-left: 0%!important;
    padding-right: 1%!important;
    padding-bottom: 0%!important;
    height: 100%;
}



.stacked-bar,.stacked-bar2,.stacked-bar3,.stacked-bar4 {


    width:45px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
    text-align: center;

}


.stacked-label {

    height: 30px;
    width:45px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-top: 2px;

    /*margin-left: -10px;*/
    /*padding-left : -15px;*/
    /*padding-right: 7px;*/

}


.rotate {

    /* Safari */
    -webkit-transform: rotate(180deg);

    /* Firefox */
    -moz-transform: rotate(180deg);

    /* IE */
    -ms-transform: rotate(180deg);

    /* Opera */
    -o-transform: rotate(180deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.flip {
-moz-transform: scaleX(-1);
-o-transform: scaleX(-1);
-webkit-transform: scaleX(-1);
transform: scaleX(-1);
-ms-filter: "FlipH";
}

.nazivDoktor
{

    color: black;
    font-family: 'Courier';
    font-size: 15px;
    font-weight: 500;


}

.stacked-bar {
    /*background: -moz-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(220,53,69,1) 37%, rgba(232,232,233,1) 100%); !* ff3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232,232,233,1)), color-stop(37%, rgba(220,53,69,1)), color-stop(100%, rgba(232,232,233,1))); !* safari4+,chrome *!*/
    /*background: -webkit-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(220,53,69,1) 37%, rgba(232,232,233,1) 100%); !* safari5.1+,chrome10+ *!*/
    /*background: -o-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(220,53,69,1) 37%, rgba(232,232,233,1) 100%); !* opera 11.10+ *!*/
    /*background: -ms-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(220,53,69,1) 37%, rgba(232,232,233,1) 100%); !* ie10+ *!*/
    /*background: linear-gradient(180deg, rgba(232,232,233,1) 0%, rgba(220,53,69,1) 37%, rgba(232,232,233,1) 100%); !* w3c *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E9', endColorstr='#E8E8E9',GradientType=0 ); !* ie6-9 *!*/
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.stacked-bar2 {
    /*background: -moz-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(40,167,69,1) 37%, rgba(232,232,233,1) 100%); !* ff3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(232,232,233,1)), color-stop(37%, rgba(40,167,69,1)), color-stop(100%, rgba(232,232,233,1))); !* safari4+,chrome *!*/
    /*background: -webkit-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(40,167,69,1) 37%, rgba(232,232,233,1) 100%); !* safari5.1+,chrome10+ *!*/
    /*background: -o-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(40,167,69,1) 37%, rgba(232,232,233,1) 100%); !* opera 11.10+ *!*/
    /*background: -ms-linear-gradient(270deg, rgba(232,232,233,1) 0%, rgba(40,167,69,1) 37%, rgba(232,232,233,1) 100%); !* ie10+ *!*/
    /*background: linear-gradient(180deg, rgba(232,232,233,1) 0%, rgba(40,167,69,1) 37%, rgba(232,232,233,1) 100%); !* w3c *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8E8E9', endColorstr='#E8E8E9',GradientType=0 ); !* ie6-9 *!*/
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}


.stacked-bar3 {
    background: -moz-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(220,53,69,1) 37%, rgba(203,203,206,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(196,196,200,1)), color-stop(37%, rgba(220,53,69,1)), color-stop(100%, rgba(203,203,206,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(220,53,69,1) 37%, rgba(203,203,206,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(220,53,69,1) 37%, rgba(203,203,206,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(220,53,69,1) 37%, rgba(203,203,206,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(196,196,200,1) 0%, rgba(220,53,69,1) 37%, rgba(203,203,206,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C4C4C8', endColorstr='#CBCBCE',GradientType=0 ); /* ie6-9 */
}

.stacked-bar4 {
    background: -moz-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(40,167,69,1) 37%, rgba(203,203,206,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(196,196,200,1)), color-stop(37%, rgba(40,167,69,1)), color-stop(100%, rgba(203,203,206,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(40,167,69,1) 37%, rgba(203,203,206,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(40,167,69,1) 37%, rgba(203,203,206,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(270deg, rgba(196,196,200,1) 0%, rgba(40,167,69,1) 37%, rgba(203,203,206,1) 100%); /* ie10+ */
    background: linear-gradient(180deg, rgba(196,196,200,1) 0%, rgba(40,167,69,1) 37%, rgba(203,203,206,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C4C4C8', endColorstr='#CBCBCE',GradientType=0 ); /* ie6-9 */



}
.broj
{
    font-size: 62px;
}


.fa-pause, .fa-user-md, .fa-remove
{
    color: white;
}
.digital
{
    width: 100%;
}
.widget-clock
{
    width: 100%!important;
    text-align: left;
}